.container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}

.box-1 {
  background-color: #ff0000;
}

.box-2 {
  background-color: #00ff00;
}

.box-3 {
  background-color: #0000ff;
}
